{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if name %}
    <h2>Bienvenido {{ name }}</h2>
    <table class ="table table-hover table-bordered table-striped">
        {% for our_user in our_users %}
            <tr>
            <td>{{ our_user.id }}. <a href="{{ url_for('update_users', usr_id = our_user.usr_id) }}">{{ our_user.nombre }}</a> - {{ our_user.email }} - 
            <a href="{{ url_for('delete_user', usr_id = our_user.usr_id) }}">Eliminar</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>User List</h2>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label(class='form-label') }}
        {{ form.name(class="form-control") }}
        <br/>

        {{ form.hidden_tag() }}
        {{ form.lastname.label(class='form-label') }}
        {{ form.lastname(class="form-control") }}
        <br/>
        
        {{ form.hidden_tag() }}
        {{ form.age.label(class='form-label') }}
        {{ form.age(class="form-control") }}
        <br/>
        
        {{ form.hidden_tag() }}
        {{ form.weight.label(class='form-label') }}
        {{ form.weight(class="form-control") }}
        <br/>

        
        {{ form.hidden_tag() }}
        {{ form.height.label(class='form-label') }}
        {{ form.height(class="form-control") }}

        
        {{ form.hidden_tag() }}
        {{ form.sex.label(class='form-label') }}
        {{ form.sex(class="form-control") }}
        <br/>

        
        {{ form.hidden_tag() }}
        {{ form.address.label(class='form-label') }}
        {{ form.address(class="form-control") }}
        <br/>

        
        {{ form.hidden_tag() }}
        {{ form.phone.label(class='form-label') }}
        {{ form.phone(class="form-control") }}
        <br/>

        
        {{ form.hidden_tag() }}
        {{ form.password.label(class='form-label') }}
        {{ form.password(class="form-control") }}
        <br/>
        <br/>

        
        {{ form.hidden_tag() }}
        {{ form.email.label(class='form-label') }}
        {{ form.email(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
</div>

<br/><br/><br/>
<table class ="table table-hover table-bordered table-striped">
{% for our_user in our_users %}
    <tr>
    <td>{{ our_user.usr_id }}. <a href="{{ url_for('update_users', usr_id = our_user.usr_id) }}">{{ our_user.nombre }}</a> - {{ our_user.email }} - 
        <a href="{{ url_for('delete_user', usr_id = our_user.usr_id) }}">Eliminar</a></td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}