{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if name %}
    <h2>Actualizar usuario</h2>
    <table class ="table table-hover table-bordered table-striped">
        {% for our_user in our_users %}
            <tr>
            <td>{{ our_user.usr_id }}. {{ our_user.nombre }} - {{ our_user.email }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Actualizar usuario...</h2>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form action="/update_users/{{ name_to_update.usr_id }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class='form-label') }}
        {{ form.name(class="form-control", value = name_to_update.nombre) }}
        <br/>

        {{ form.hidden_tag() }}
        {{ form.lastname.label(class='form-label') }}
        {{ form.lastname(class="form-control", value = name_to_update.apellido) }}
        <br/>
        
        {{ form.hidden_tag() }}
        {{ form.age.label(class='form-label') }}
        {{ form.age(class="form-control", value = name_to_update.edad) }}
        <br/>
        
        {{ form.hidden_tag() }}
        {{ form.weight.label(class='form-label') }}
        {{ form.weight(class="form-control", value = name_to_update.peso) }}
        <br/>

        
        {{ form.hidden_tag() }}
        {{ form.height.label(class='form-label') }}
        {{ form.height(class="form-control", value = name_to_update.altura) }}

        
        {{ form.hidden_tag() }}
        {{ form.sex.label(class='form-label') }}
        {{ form.sex(class="form-control", value = name_to_update.sexo) }}
        <br/>

        
        {{ form.hidden_tag() }}
        {{ form.address.label(class='form-label') }}
        {{ form.address(class="form-control", value = name_to_update.direc) }}
        <br/>

        
        {{ form.hidden_tag() }}
        {{ form.phone.label(class='form-label') }}
        {{ form.phone(class="form-control", value = name_to_update.telefono) }}
        <br/>

        
        {{ form.hidden_tag() }}
        {{ form.password.label(class='form-label') }}
        {{ form.password(class="form-control") }}
        <br/>
        <br/>

        
        {{ form.hidden_tag() }}
        {{ form.email.label(class='form-label') }}
        {{ form.email(class="form-control", value = name_to_update.email) }}
        <br/>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
</div>

<br/><br/><br/>

{% endif %}
{% endblock %}